.comments_panel {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}
.comments_panel h2 {
  margin: 0;
  padding: 15px 0 30px 20px;
  color: #565a69;
  font-family: Myriad_Pro;
}
.comments_panel #comments_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comments_panel #comments_list .comment_item {
  padding: 10px 20px 0;
}
.comments_panel #comments_list .comment_item .comment_icon {
  width: 50px;
  height: 50px;
  background-color: #ff8a00;
  display: inline-block;
  vertical-align: top;
  margin: 10px 10px 20px 0;
}
.comments_panel #comments_list .comment_item .comment_text {
  text-align: justify;
  width: 82%;
  display: inline-block;
  margin: 2px 0 20px;
}
.comments_panel #comments_list .comment_item .comment_line {
  height: 1px;
  background-color: #f2f2f2;
}
.comments_panel #comments_list .comment_item:last-child .comment_text {
  margin: 0 0 10px;
}
.comments_panel #comments_list .comment_item:last-child .comment_line {
  display: none;
}
.comments_panel #comments_list .comment_item:hover .comment_icon {
  background-color: #47568c !important;
  transition: background .4s;
}
.comments_panel .add_comment {
  padding: 0 20px 10px;
}
.comments_panel .add_comment .new_comment_icon {
  width: 50px;
  height: 50px;
  background-color: #e6e6e6;
  display: inline-block;
  margin: 0 10px 0 0;
}
.comments_panel .add_comment textarea {
  width: 82%;
  height: 50px;
  vertical-align: top;
}
.visibility {
  display: none;
}
